.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: -15px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: -15px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.ant-carousel .slick-prev::before {
  content: "";
  display: inline-block;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
    no-repeat;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.ant-carousel .slick-next::before {
  content: "";
  display: inline-block;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
    no-repeat;
  background-position: 0 -48px;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.testimonial .ant-carousel .slick-prev {
  left: 15px;
}

.testimonial .ant-carousel .slick-next {
  right: 15px;
}

.userAvatar .ant-upload.ant-upload-select-picture-card {
  border-color: transparent;
  border-radius: 9999px;
  width: 150px;
  height: 150px;
}

.ant-switch {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ant-switch-checked {
  background-color: #1890ff !important;
}

.popular .ant-carousel .slick-prev,
.popular .ant-carousel .slick-prev:hover,
.popular .ant-carousel .slick-next,
.popular .ant-carousel .slick-next:hover {
  width: 35px;
  height: 35px;
}

.popular .ant-carousel .slick-prev {
  top: -40px;
  left: 92%;
}

.popular .ant-carousel .slick-next {
  top: -40px;
  right: 15px;
}

@media screen and (max-width: 992px) {
  .popular .ant-carousel .slick-prev {
    left: 85%;
  }
}

@media screen and (max-width: 768px) {
  .popular .ant-carousel .slick-prev {
    left: 82%;
  }
}