.home {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049970/bg-hero-5-1792-x1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.sellingLeft {
  padding-right: 11%;
}

.sellingLeft .content {
  color: #62646a;
}

.sellingRight {
  cursor: pointer;
}

.sellingRight img {
  width: 100%;
}

.sellingRight::before {
  content: "";
  background-image: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
}

.marketPlaceLink {
  position: relative;
}

.marketPlaceLink:hover {
  color: #000;
}

.marketPlaceLink::before {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  transition: all 0.2s ease-in-out;
}

.marketPlaceLink:hover::before {
  width: 96px;
  border-color: #1dbf73;
}

.businessLeft {
  width: 45%;
  padding-right: 5%;
}

.businessLeft .businessNew {
  background-color: #584aff;
  padding: 1px 10px;
  border-radius: 10px;
}

.businessLeft .btnBusinessExplore {
  padding: 12px 48px;
  background-color: #1dbf73;
  transition: all 70ms;
}

.businessLeft .btnBusinessExplore:hover {
  background-color: #19a463;
}

.businessRight {
  width: 65%;
}

.businessRight img {
  width: 100%;
}
