.sellingLeft {
  padding-right: 11%;
}

.sellingLeft .content {
  color: #62646a;
}

.sellingRight {
  cursor: pointer;
}

.sellingRight img {
  width: 100%;
}

.sellingRight::before {
  content: "";
  background-image: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .sellingLeft {
    padding-right: 0;
  }
}
