.header {
  color: #62646a;
}

.header .txtSearch {
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  border-color: #c5c6c9;
  padding: 0 5px 0 20px;
  height: 40px;
  font-size: 16px;
  color: #62646a;
  width: 100%;
  outline: none;
}

.header .btnSearch {
  height: 40px;
  padding: 0 16px;
  background-color: #222325;
  border-radius: 0 4px 4px 0;
}

.header .btnSearch svg {
  fill: #fff;
}

.header .headerBorder {
  border-bottom: 1px solid #e4e5e7;
}

.header .triangle {
  position: absolute;
  top: 35px;
  right: 0px;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: black;
  transform: translateX(-50%);
}

.header .triangle::before {
  content: "";
  position: absolute;
  top: -10px;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translateX(-50%);
}

.header .userMenu {
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #dadbdd;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%);
  padding: 10px;
  color: #74767e;
  width: 200px;
}

.header .userMenu span {
  color: #fff;
  background-color: #ff62ad;
  padding: 0px 5px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
}

.header .userMenu a:hover,
.header .userMenu button:hover {
  transition: all 0.2s;
  color: #1dbf73;
}

.header .userMenu .language:hover svg {
  transition: all 0.2s;
  fill: #1dbf73;
}

/* Mobile Css */
.drawerJoinButton {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #1dbf73;
}

.sidebarMenu,
.sidebarMenu a {
  color: #95979d;
}

.txtSearchMobile {
  border-width: 1px;
  border-radius: 4px;
}
/* Mobile Css */

@media screen and (max-width: 768px) {
  .header .btnJoin {
    color: #62646a;
    border-color: transparent;
  }

  .header .headerBorder {
    border-bottom: 1px solid transparent;
  }
}
