.innerLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
}

.innerLink a,
.innerLink a:hover {
  color: #404145;
}

.innerLink svg {
  display: none;
}

.innerLink:hover {
  background-color: #f5f5f5;
}

.innerLink:hover svg {
  display: block;
}
